.header-main {
    display: flex;
    align-items: center;
    padding: .5rem 0rem;
}

.header-sub {
    display: flex;
    align-items: center;
    padding: .5rem 0rem;
}

.header-logo{
    height: 20px;
    width: auto;
}

.header-link {
    margin-right: 2rem;
}